body { color: darkseagreen;
 font-family: "Inter", sans-serif;}
.center { 
    text-align:center;
}
img.center {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

.center.bold {font-weight: bold;}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation{
  display: flex;
  gap: 60px;


}
.navigation a,
.navigation a:visited {
  color: white;
  background-color: darkseagreen;
  padding: 8px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}

.navigation a:hover {
  background-color: #6b9373;
}

